<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
<session-factory>
	<!-- org.hibernate.dialect.MySQL5InnoDBDialect -->
	<!-- org.hibernate.dialect.Oracle10gDialect -->
	<property name="hibernate.dialect">
		org.hibernate.dialect.MySQL5InnoDBDialect
	</property>
	<property name="hibernate.show_sql">false</property>
	<property name="hibernate.format_sql">true</property>
	<property name="hibernate.hbm2ddl.auto">update</property>

	<mapping resource="cn/tax/nswf/entity/Person.hbm.xml" />
	<mapping resource="cn/tax/nswf/entity/Role.hbm.xml" />
	<mapping resource="cn/tax/nswf/entity/RolePrivilege.hbm.xml" />
	<mapping resource="cn/tax/nswf/entity/User.hbm.xml" />
	<mapping resource="cn/tax/nswf/entity/UserRole.hbm.xml" />
	<mapping resource="cn/tax/nswf/entity/Info.hbm.xml" />
	<mapping resource="cn/tax/nswf/complain/entity/Complain.hbm.xml" />
	<mapping
		resource="cn/tax/nswf/complain/entity/ComplainReply.hbm.xml" />

</session-factory>
</hibernate-configuration>
